aside.sidebar
  figure.sidebar__logo
  ul.sidebar__menu.menu
    each path in ["./img/Callendar.svg","./img/person.svg","./img/Settings.svg","./img/team.svg","./img/letter.svg"]
        li.menu__item
            a.menu__link(href="#")
                img(src= path)
    