.sidebar{
    width: 80px;
    height: 100vh;
    background-color: #01134E;
    display: flex;
    flex-direction: column;
    @include Smartphone{
        width: 60px;
        display: none;
    }
    &__logo{
        margin: 20px auto;
        background-image: url("../img/logo.svg");
        width: 35px;
        height: 35px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include smallOnTablet{
            padding-right: 20px;
            padding-left: 20px;
        }
    }
    &--active{
        display: flex;
        position: relative;
    }
}
.menu{
    &__item{
        display: block;
        position: relative;
        padding-top: 70px;
    }
    &__link{
        &:hover{
            color: white;
        }
    }
}
.ellipse{
    position: absolute;
    top: 65%;
    left: 55%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color:  #2A74DB;
    display: flex;
    justify-content: center;
    align-items: center;
    @include Smartphone{
        top: 55%;
        left: 2%;
    }
    &__number{
        color: #fff;
        font-size: 12px;
        font-family: $roboto;
        font-weight: bold;
    }
}
.line{
    position: absolute;
    top: 55px;
    left: -25px;
    border-radius: 5px;
    @include Smartphone{
        display: none;
    }
}