.header{
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 6%;
    background-color: #fff;
    &__menu{
        width: 150px;
        align-items: center;
        display: flex;
        justify-content: space-around;
    }
    &__item{
        font-family: $roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.685714px;
    }
    
}
.profile{
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    @include mdSmartphone{
        width: 45px;
        padding-right: 0;
        margin-left: 20%;
    }
    &__img{
        display: block;
        width: 22px;
        height: 22px;
    }
    &__name{
        font-family: $roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.28px;
        @include mdSmartphone{
            display: none;
        }
    }
}
