.header{
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 6%;
    background-color: #fff;
    &__menu{
        width: 150px;
        align-items: center;
        display: flex;
        justify-content: space-around;
    }
    &__item{
        font-family: $roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.685714px;
    }
    &__logo{
        display: none;
        @include Smartphone{
            transform: scale($scale);
            margin: 7px 21px;
            position: relative;
            display: block;
            width: 50px;
            height: 40px;
            user-select: none;

            @include burgerLineCustom;
            .header__top{
                top: 0px;
                left: 0px;
            }
            .header__bottom{
                bottom: 0;
                left: 0;
            }
            @include burgerAnimate;
        }
    }
}
.hamburger.is-closed{
    .header__top {
        transform: translateX( 0.5px ) translateY(13px) rotate( -45deg );
      }
      .header__bottom {
        transform: translateX( 0.5px ) translateY(-9px) rotate( 45deg );
      }
}
.profile{
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    @include Smartphone{
        width: 45px;
        padding-right: 0;
        margin-left: 20%;
    }
    &__img{
        display: block;
        width: 22px;
        height: 22px;
    }
    &__name{
        font-family: $roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.28px;
        @include Smartphone{
            display: none;
        }
    }
}
