.header{
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 6%;
    background-color: #fff;
    &__menu{
        width: 150px;
        align-items: center;
        margin-left: 5%;
        display: flex;
        justify-content: space-around;
        @include Smartphone{
            margin-left: 5%;

        }
    }
    &__item{
        font-family: $roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.685714px;
    }
    &__link{
        font-family: $roboto;
        color: rgb(53, 75, 74);
    }
    &__burger{
        display: none;
        @include Smartphone{
            transform: scale($scale);
            margin: 1% 5px;
            position: relative;
            display: block;
            user-select: none;

            @include burgerLineCustom;
            .header__top{
                top: 3px;
                left: 0px;
            }
            .header__bottom{
                bottom: 0;
                left: 0;
                transition: 2s;
            }
            .header__center{
                top: 50%;
                left: 0px;
            }
            @include burgerAnimate;
        }
    }
}
.hamburger.is-closed{
    .header__top {
        transform: translateX( -6.5px ) translateY(8.5px) rotate( -45deg );
      }
      .header__bottom {
        transform: translateX( -5.5px ) translateY(-6px) rotate( 45deg );
      }
      .header__center{
          display: none;
      }
}
.profile{
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin-left: 65%;
    align-items: center;
    padding-right: 30px;
    @include Smartphone{
        width: 45px;
        padding-right: 0;
        margin-left: 20%;
    }
    @include onTablet{
        margin-left: 45%;
    }
    @include smallOnTablet{
        margin-left: 20%;   
    }
    &__img{
        display: block;
        width: 22px;
        height: 22px;
    }
    &__name{
        font-family: $roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.28px;
        @include Smartphone{
            display: none;
        }
    }
}
